*{
    transition: all;
    transition-duration: 0.5s;
    transition-timing-function: linear;
    transition-delay: 0s;
}
.voting_popup_container {
    border-width: 3px;
    width: 100%;
    height: 150%;
    position: absolute;
    top: 0%;
    background: rgba(0, 0, 0, 0.938);
    align-items: center;
    justify-content: center;
    display: none;
    z-index: 3;
}

.voting_popup {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    min-height: 50%;
    background: white;
    position: relative;
    padding: 10px;
    overflow-y: auto;
    align-items: center;
    justify-content: center;

}
.voting_popup_title {
    color: black;
}
.voting_popup_content {
    width: 100%;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content:center;
    overflow-x: auto;
    scroll-snap-type:x mandatory;
    background-color: white;
}
form{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:center;
    overflow-x: auto;
    scroll-snap-type:x mandatory;
    background-color: white;
    height: 100%;
}
.aspirant_details {
    margin: 5px;
    color: white;
    cursor: pointer;
    width: 30%;
    aspect-ratio: 1/1;
    background-color: black;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &:hover{
        background-color: rgba(0, 0, 0, 0.623);
    }
}
.selected_element{
    background: skyblue;
    position: absolute;
    top: 5%;
    left: 2%;
    display: flex;
    width: 100px;
    aspect-ratio: 1/1;
    z-index: 4;
    transition: all;
    transition-duration: 0.5s;
    transition-timing-function: linear;
    transition-delay: 0s;
    &>label,input{
        display: none;
    }
}

@media screen and (max-width: 750px) {
    .voting_popup_content {
        flex-direction: column;
        overflow-y: auto;
        height: 100%;
    }
    .aspirant_details {
        width: 90%;
    }
    form{
        flex-direction: column;
        height: 100%;
        overflow-y: auto;
    }
    .selected_element{
        width: 100px;
        aspect-ratio: 1/1;
    }
    .voting_popup{
        height:95%;
    }
}
.aspirant_radio {
    transform: scale(2);
    display: none;
}
.candidate_image {
    width: 60%;
    aspect-ratio: 1/1;
    border-radius: 10px;
}

.voting_popup_buttons {
    width: 100%;
    position: absolute;
    bottom: 0%;
    height: 50px;
    margin-top: 30px;
    align-items: center;
    justify-content: right;
    display: flex;
    padding: 10px;
}
.voting_popup_button {
    font-size: 20px;
    outline: none;
    border-style: none;
    height: 40px;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    &:hover{
        transform: scale(1.05);
    }
}
.no {
    background: red;
}
.re_set{
    background: black;
    color: white;
}
.yes{
    background: green;
}
